In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../Kagglefiveday/data.csv")

In [3]:
df.head(5)

  country        date  userid message
0      TH  2017-06-03   10871     ไม่
1      VN  2017-06-03   10959     "✔️
2      VN  2017-06-03   10959     Fre
3      VN  2017-06-03   10959     Hàn
4      VN  2017-06-03   10959      Ok

In [4]:
#count number of chat in the data set 
count_total = df.shape
print (count_total)

(19450412, 4)

In [5]:
#Chat sent per countries 
df.groupby(['country']).size()

country
ID    8499458
MY     661595
PH    1039372
SG      40680
TH    1041064
TW    6322135
VN    1846108
dtype: int64

In [6]:
#top 10 chat users with number of chat
df.groupby(['userid']).size().nlargest(10)

userid
5827046     12032
17614279     6042
8498629      5952
9740351      5380
4244018      5333
11177449     5291
20164030     4952
4383549      4923
11426806     4847
510697       4769
dtype: int64

In [14]:
df2 =df.loc[df['userid'].isin(["5827046","17614279","8498629","9740351","4244018",
                               "11177449","2016403","4383549","11426806","510697"])]

#output to csv using utf-8 will get all the Chinese word visible
df2.to_csv('output.csv',sep=',',encoding = 'utf-8')

In [19]:
#analyze the number of chat 
df2.head(15)

        country        date    userid message
1121669      ID  2017-06-01  17614279     sam
1121670      ID  2017-06-01  17614279     Jik
1121671      ID  2017-06-01  17614279     Kam
1121672      ID  2017-06-01  17614279     sep
1121673      ID  2017-06-01  17614279     Kam
1121674      ID  2017-06-01  17614279      Hi
1121675      ID  2017-06-01  17614279     Kam
1121676      ID  2017-06-01  17614279     mak
1121677      ID  2017-06-01  17614279     apa
1121678      ID  2017-06-01  17614279     Kam
1121679      ID  2017-06-01  17614279     men
1121680      ID  2017-06-01  17614279     Kam
1121681      ID  2017-06-01  17614279      ok
1121682      ID  2017-06-01  17614279     men
1121683      ID  2017-06-01  17614279     Kam

In [22]:
#trying to count the lenght of the reply 
df2['reply_length'] = df['message'].str.len()

/home/tung/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
df2.head(15)

        country        date    userid message  reply_length
1121669      ID  2017-06-01  17614279     sam           3.0
1121670      ID  2017-06-01  17614279     Jik           3.0
1121671      ID  2017-06-01  17614279     Kam           3.0
1121672      ID  2017-06-01  17614279     sep           3.0
1121673      ID  2017-06-01  17614279     Kam           3.0
1121674      ID  2017-06-01  17614279      Hi           2.0
1121675      ID  2017-06-01  17614279     Kam           3.0
1121676      ID  2017-06-01  17614279     mak           3.0
1121677      ID  2017-06-01  17614279     apa           3.0
1121678      ID  2017-06-01  17614279     Kam           3.0
1121679      ID  2017-06-01  17614279     men           3.0
1121680      ID  2017-06-01  17614279     Kam           3.0
1121681      ID  2017-06-01  17614279      ok           2.0
1121682      ID  2017-06-01  17614279     men           3.0
1121683      ID  2017-06-01  17614279     Kam           3.0

In [25]:
df2.groupby(['userid'])['reply_length'].mean()

userid
510697      2.946726
4244018     2.878177
4383549     2.957099
5827046     2.795213
8498629     2.996636
9740351     2.986057
11177449    2.903421
11426806    2.873530
17614279    2.976806
Name: reply_length, dtype: float64

From this average length of chat we can see that it is often very short and can sometimes be seen as spammy

In [26]:
df2.groupby(['userid'])['message'].mode()

AttributeError: Cannot access callable attribute 'mode' of 'SeriesGroupBy' objects, try using the 'apply' method